.container {
  // position: absolute !important;
  display: inline-block;
  left: 0;
  top: 0;
}

.inner {
  writing-mode: horizontal-tb;
  font-size: 14px;
  user-select: auto;
  cursor: default;
  padding: 5px;
  width: 100%;
}
