.container {
  display: inline-block;
  left: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
}

.inner {
  writing-mode: horizontal-tb;
  font-size: 14px;
  user-select: auto;
  cursor: default;
  padding: 5px;
  width: 100%;
}
